<!-- 
    					
{%	for	post	in	posts	%}					
    <div	class="post">	
        <div	class="date">	
            <p>published:	{{	post.published_date	}}</p>						
        </div>						
        <h2><a	href="">{{	post.title	}}</a></h2>			
        <p>{{	post.text|linebreaksbr	}}</p>							
    </div>							
{%	endfor	%}						"
               

 -->


 <html>
    <head>
        <title>Zahra's blog</title>
    </head>
    <body>
        <div>
            <hi><a href="/">Zahra's Blog</a></hi>
        </div>

        <div>
            <p>published: 6th August 2019</p>
            <h2><a href= "">My first post</a></h2>
            <p>Heyya the long awaited first ever PAN Africa event of the Python community is here and I'm so excited to be a part of it. 
                As part of the PyCon Africa Event, Django girls workshop was organized to teach ladies web development using the Django framework. The event was held at the Bank of Ghana Auditorium in the University of Ghana.

            </p>
        </div>
    </body>
 </html>